@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Lorenzo von Matterhorn</h1>
    <p>LinkedIn <a href="https://www.linkedin.com/in/lorenzovonmatterhorn">Works at Goliath National Bank</a>.</p>
</div>
